/* колір h1 #FFFFFF */
/* колір заголовків тексту #212121 */
/* колір тексту #757575*/
/* колір акценту #2196F3 */
/* пошта і номер телефону у футері rgba(255, 255, 255, 0.6) */
/* колір хедера #FFFFFF */
/* основний колір фону сторінки #F5F5F5 */
/* другорядний колір фону сторінки #F5F4FA */
/* колір героя та футеру #2F303A */

:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
}

body {
	background-color: #f5f5f5;
	color: var(--primary-text-color);
}

.list {
	list-style: none;
}

.page-header {
	background-color: #ffffff;
}

/* лого */

.logo-accent {
	color: var(--accent-color);
}

/* навігація по сайту */
.site-nav .link {
	color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}

/* список контактів */

/* герой */
.hero {
	background-color: #2f303a;
}

.hero-title {
	color: #ffffff;
}

/* sections */

.section-title {
	color: var(--title-text-color);
}

/* особливості */

.features-list .title {
	color: var(--title-text-color);
}

/* чим ми займаємося */

/* наша команда */
